@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

*{
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    text-transform: capitalize;

}

html{
    font-size: 62.5%;   
    scroll-behavior: smooth;
}

body{
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    margin: 0;
}

#form-section-wrapper{
    background-color: white;
    border-radius: 2rem;
    box-shadow: 0 0.2rem 0.5rem rgba(0,0,0,0.3);
    width: 40rem;
    height: 70rem;
    max-width: 100%;
    overflow: hidden;
   
}

#form-section-wrapper > h2{
    background-color: #f7f7f7;
    border-bottom: 0.1rem solid #f0f0f0;
    padding: .5rem 4rem;
    margin: 0;
    font-size: 2.5rem;
}

#form-section{
    padding: 1rem 4rem;
}

.form-control{
    margin-bottom: 1rem;
    padding-bottom: 2rem;
    position: relative;
}

.form-control.success >input{
    border-color: #2ecc71;
}

.form-control.error >input{
    border-color: #e74c3c;
}

.form-control.success >.fa-check-circle{
    color: #2ecc71;
    visibility: visible;
}

.form-control.error >.fa-exclamation-circle{
    color: #e74c3c;
    visibility: visible;
}

.form-control.error> span{
    visibility: visible;
    color: #e74c3c;
}


.form-control > label{
    display: inline-block;
    margin-bottom: .5rem;
    font-size: 2rem;
}

.form-control > input{
    border: 0.2rem solid #f0f0f0;
    border-radius: 0.4rem;
    display: block;
    font-size: 1.5rem;
    padding: 1rem;
    width: 100%;
}

.form-control >i{
    position: absolute;
    visibility: hidden;
    top: 4rem;
    right: 1rem;
}

.form-control > span{
    position: absolute;
    visibility: hidden;
    bottom: 0;
    left: 0;
}

#btn{
    background-color: #8e44ad;
    border: 0.2rem solid #8e44ad;
    border-radius: 0.4rem;
    color: white;
    display: block;
    font-size: 1.5rem;
    padding: 1rem;
    width: 100%;
}

